{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    <!-- {% for item in watchlist %}
        <div class="listing_entry">
            <a href="{% url 'listing' watchlist.listing.title %}"><img class="listing_image_index" src={{ listing.url }} alt="No image available"></img></a>
            <div class="listing_info">
                <a href="{% url 'listing' watchlist.listing.title %}"><div class="listing_entry_title"> <h3>{{ watchlist.listing.title }}</h3></div></a>
                <div class="listing_entry_description"><p>{{ watchlist.listing.description|truncatewords:50 }}</p></div>
                <div class="listing_entry_prize"><p>&euro;{{ watchlist.listing.prize }}</p></div>
            </div>
        </div>
    {% endfor %} -->

{% endblock %}